<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= entry.title %></h1>
    <p><%= entry.memory %></p>
    <img src="<%= entry.img %> " alt="<%= entry.title %> " />
    <!-- Delete -->
    <form action="/entries/<%=entry.id%>?_method=DELETE" method="POST">
      <input
        type="submit"
        value="Delete"
        class="btn btn-sm btn-outline-danger"
      />
    </form>
  </body>
</html>
